<div class="row centered-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <h1 style="color: white;">Edit clients training records</h1>
                        <div class="details">
                            <br><br>
                            <div>{{client.name}}, ({{client.age}})</div>
                            <div>{{client.specialization}}</div>
                            <textarea #textArea style="width: 30em; height: 20em;">{{client.trainingLog}}</textarea>
                            <div><button class="btn btn-light" style="margin-top: 10px;"
                                    (click)="saveChangess(textArea.value)">Save changes</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>