<div class="row centered-form">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <div style="float: right; position: relative;"><button class="btn btn-light" (click)="removeTraining()">Remove</button></div>
                        <div>{{training.athlete}}</div>
                        <div>{{training.date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>